body {
    background-color: lightblue;
    color: darkblue;
}
h1 {
    font-family: "Arial", sans-serif;
    font-size: 36px;
    text-align: center;
}
p {
    font-family: "Georgia", serif;
    font-size: 18px;
    padding: 10px;
    margin: 20px;
}
.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}
.column {
    flex: 1;
    padding: 10px;
}
@media (max-width: 600px) {
    .column {
        flex: 100%;
    }
}

.container-nav {
    display: flex;
    padding: 10px;
    height: 50px;
    background-color: #192F8C;
}
.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.brand {
    display: flex;
    align-items: center;
}

li>a {
    padding: 8px 24px;
}

li {
    list-style-type: none;
}

a {
    color: white;
    text-decoration: none;
}

.nav-links {
    display: flex;
    align-items: center;
}

.button-menu-toggle {
    display: none;
}

@media (max-width: 768px) {
    .column {
        flex: 100%;
    }

    .nav-links {
        display: none;
    }

    .button-menu-toggle {
        display: block;
        background-color: white;
        border: none;
        border-radius: 50px;
        padding: 0 24px;
        font-family: monospace;
        font-weight: bold;
        font-size: 20px;
    }

    .nav-links.nav-links-responsive {
        position: absolute;
        display: flex;
        background-color: rgba(20, 20, 20, 0.95);
        width: 100%;
        height: 100%;
        top: 70px;
        left: 0;
        flex-direction: column;
        padding-top: 200px;
        align-items: center;
        gap: 70px;
        font-size: 40px;
    }

    .img-container {
        flex-direction: column;
    }
    iframe, .video-container {
        max-width: 90%;
    }
}

.img-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

img {
    height: 200px;
}

header{
    display: flex;
    justify-content: center;
}
footer {
    height: 200px;
    display: flex;
    justify-content: center;
}

main {
    display: flex;
    justify-content: center;
}

.video-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.greeting {
    text-align: center;
}

.alerta {
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: flex-end;
}

.Juani {
    display: flex;
    align-items: center;
}

.containerservicios {
    font-size: 30px;
}

.servicios {
    font-size: 20px;
    margin: 50px;
    border: 1px solid black;
}

.formulario {
    margin: 50px;
    font-size: 20px;
    padding: 10px;
    border: 1px solid #192F8C;
}

.contacto {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}